<%= content_for :js do %>
<script>
const mymap = L.map('map').setView([28.5383, -81.3792], 14);

L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoiYmdhdGVzIiwiYSI6ImNqcnF2N3JzMDAxYmc0N29jMWQ1NXBzOHYifQ.iz7LrIADHLcFLuWtPeJOsQ'
}).addTo(mymap);
const invitations = <%= @invitations.to_json.html_safe %>; 
invitations.forEach(invite => {
  const marker = L.marker([invite.latitude, invite.longitude]).addTo(mymap);
  marker.bindPopup(`<strong>${invite.time}</strong> - <a href="${invite.link}">@${invite.user_name}</a> is going to ${invite.where}`)

});
</script>
<% end %>
<div id="map" style="height:50vh;width:50vw;margin: 0 auto"></div>